.fdiv{
    margin: 10px;
    background-color: azure;
    border: 1px solid rgb(5, 218, 255);
}
#container{
    background-color:azure;
    border: 1px solid rgb(5, 218, 255);
    margin: 10px;
    padding: 10px;
}
.divsectiom{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 4px;
}