<section>
      <h1>Git-Clone</h1>
      <hr>
      <section id="changeBox" class="text-center">
            <div>
              <label for="FileName">FileName : </label>
              <input type="text">
            </div>
            <div>
              <label for="">Message :</label>
              <input type="text">
            </div>
            <div>
                <button class="btn btn-danger">Save Changes</button>
            </div>
            <hr>
      </section>

      
      <app-wrapper>
        <small>NgStudio</small>
      </app-wrapper>
</section>